body{
    color: white;
    background-color:#C3B1E1;
    font-family: 'Times New Roman', Times, serif;
}

h1 {color:#FFDFD3;background-color:#957DAD}
h2 {color:#FEC8D8;}
a {color:#E0BBE4}

nav {background-color: #FFDFD3;}
nav a {color:white;}
nav {color:white;}
nav a:hover {color: #d291bc;}